{{> header}}
<section>
    <h1>{{post.title}}</h1>
    <p>Published on {{post.createdAt}} by {{post.User.username}}</p>
    <div>{{{post.content}}}</div>

    <h2>Comments</h2>
    <ul>
        {{#each post.Comments}}
            <li>
                <p>{{content}}</p>
                <p>By {{User.username}} on {{createdAt}}</p>
            </li>
        {{/each}}
    </ul>